table.list-table tr th {
	background-color: #e3f2fd;
	color: #039;
}

table.list-table tr td {
	background-color: white;
	color: #039;
}

table.list-table tr td, table.list-table tr th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

table.list-table{
	width: 100%;
}

body.modal-body {
	background-image: url("images/form.jpg");
}

.outline {
	border: 1px solid #000000;
	padding: 0 10px;
}

.outliner {
	border: 1px solid #000000;
	background: white;
}

table.list-table {
	border-collapse: collapse;
}

.language-comp select {
	position: absolute;
	top: 10px;
	right: 20px;
}

a.mail  {
	position: absolute;
	top: 0px;
	right:160px;
}

a.info  {
	position: absolute;
	top: 4px;
	right:195px;
}

#link {
	size: 60px;
	color: white;
	font: bold;
	background-color: black;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #039;
	font: bold;
}

a:VISITED{
	color: #039;
}

button {
	display: inline-block;
	color: black;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
}

button:active {
	background: white;
}

button:hover {
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
}

.c {
	border: 1px solid #333;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	color: #000;
}

.c:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
	color: #000;
}
.c:VISITED {
	color: #000;
}

div.wicket-modal {
    font-size: x-large;
    }