table.list-table tr th {
	background-color: #e3f2fd;
	color: #039;
}

table.list-table tr td, table.list-table tr th {
	border: 1px solid black;
	border-collapse: collapse;
}

table.list-table {
	border-collapse: collapse;
}

.language-comp select {
	position: absolute;
	top: 5px;
	right: 10px;
}

#link {
	size: 20px;
	color: white;
	font: bold;
	background-color: black;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
	font: bold;
}

button {
	display: inline-block;
	color: black;
	font-weight: 700;
	text-decoration: none;
	user-select: none;
	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 1px;
	transition: 0.2s;
}

button:active {
	background: white;
}

button:hover {
	background: rgba(255, 255, 255, .2);
}